body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mobile-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.mobile-table th,
.mobile-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.mobile-table th {
  background-color: #f2f2f2;
}
